head
  title Conteo Elecciones FEUC 2026 | El PUClítico
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='icon', type='image/png', href='/src/images/favicon.png')
  link(rel='stylesheet', type='text/css', href='/src/scss/style.scss')
  script(type='module', src='/src/js/main.js')
