doctype html
include mixins
html
  include head
  body
    section.hero.is-medium.is-primary
      .hero-head
        .container#header
          a(
            href='http://www.elpuclitico.cl/inicio'
            target='_blank'
          )
            span#logo
              include logo-elp.svg
          span Elecciones FEUC 2026
      #bar-graph-hero.hero-body
        .container
          // Second Round: Traditional 2-bar display
          .columns#bind-second-round
            .column#bind-summary-lista
              h2.title.is-4 Total Lista FEUC
              .bar-full-graph
                .bar-item
                  .legend NAU!
                  .percentage {naupc}%
                .bar-item
                  .legend Amanecer
                  .percentage {mgpc}%
                .bar-full-item
                  .bar-holder
                    .bar.bar-nau(rv-width='naupc')
                    .bar.bar-mg(rv-width='mgpc')
            .column#bind-summary-sup
              h2.title.is-4 Total Consejero Superior
              .bar-full-graph
                .bar-item
                  .legend NAU!
                  .percentage {naupc}%
                .bar-item
                  .legend Amanecer
                  .percentage {mgpc}%
                .bar-full-item
                  .bar-holder
                    .bar.bar-nau(rv-width='naupc')
                    .bar.bar-mg(rv-width='mgpc')
          // First Round: Ranked party display
          .columns#bind-header
            .column
              h2.title.is-4 Lista FEUC
              .party-ranked-list
                .party-item(rv-each-party="lista.parties", rv-class-advances="party.advances")
                  .rank {party.index}
                  .color-dot(rv-style-background="party.color")
                  .name {party.name}
                  .percentage {party.pc}%
                  .badge(rv-if="party.advances") Avanza
            .column
              h2.title.is-4 Consejero Superior
              .party-ranked-list
                .party-item(rv-each-party="sup.parties", rv-class-advances="party.advances")
                  .rank {party.index}
                  .color-dot(rv-style-background="party.color")
                  .name {party.name}
                  .percentage {party.pc}%
                  .badge(rv-if="party.advances") Avanza
    section.section
      .container
        // include refresh-notification
        // include error-loading-notification
        h2.title.is-2 Detalle
          = ' '
          // span.tag.update-notif  Actualizando…
        include total
        // include vote-message
        include mesas
        include territorios
        // include territoriales
        include participativo
        .columns
          include escrutadas
          include participacion
    include footer
    include analytics
