// Agronomía y Sistemas Naturales (3 mesas)
option(value='agronat') Ing. en RRNN
option(value='agro1') Agronomía 1
option(value='agro2') Agronomía 2

// Ciencias Biológicas (3 mesas)
option(value='csbiocc') CCBB Casa Central 1
option(value='csbiosj') CCBB San Joaquin 2
option(value='vet') Veterinaria

// Ciencias de la Salud (5 mesas)
option(value='kine') Kinesiología
option(value='fono') Fonoaudiología
option(value='to') Terapia Ocupacional
option(value='saludcc') Nutrición

// Ciencias Exactas (1 mesa)
option(value='ccee1') CCEE 1

// College (5 mesas)
option(value='coll1') College 1
option(value='coll2') College 2
option(value='coll3') College 3
option(value='coll4') College 4
option(value='coll5') College 5

// Ing. Comercial (5 mesas)
option(value='comer1') Comercial 1
option(value='comer2') Comercial 2
option(value='comer3') Comercial 3
option(value='comer4') Comercial 4
option(value='comer5') Comercial 5

// Comunicaciones (1 mesa)
option(value='com') Comunicaciones 1

// Construcción Civil (2 mesas)
option(value='constru1') Construcción Civil 1
option(value='constru2') Construcción Civil 2

// Derecho (3 mesas)
option(value='der1') Derecho 1
option(value='der2') Derecho 2
option(value='der3') Derecho 3

// Educación (6 mesas)
option(value='educa1') Educación 1
option(value='educa2') Educación 2
option(value='educa3') Educación 3
option(value='educa4') Educación 4
option(value='educa5') Educación 5
option(value='educa6') Educación 6

// Enfermería (2 mesas)
option(value='enfsj') Enfermería San Joaquin
option(value='enfcc') Enfermería Casa Central

// Gobierno (1 mesa)
option(value='gob1') Gobierno 1

// Humanidades (2 mesas)
option(value='geo') CP, Geografía e Historia
option(value='let') Letras y Filosofía

// Ingeniería (5 mesas)
option(value='ing1') Ingeniería 1
option(value='ing2') Ingeniería 2
option(value='ing3') Ingeniería 3
option(value='ing4') Ingeniería 4
option(value='ing5') Ingeniería 5

// Lo Contador (2 mesas)
option(value='arqui') Arquitectura
option(value='dno') Diseño

// Medicina (2 mesas)
option(value='med') Medicina Casa Central 1
option(value='sotero') Medicina Hosp. Sótero del Río

// Odontología (1 mesa)
option(value='odontosj') Odontología San Joaquin 1

// Oriente (2 mesas)
option(value='oriente') Oriente 1
option(value='oriente2') Oriente 2

// Psicología (1 mesa)
option(value='psi') Psicología 1

// Química (1 mesa)
option(value='quim') Química 1

// Sociales y Teología (3 mesas)
option(value='soc1') Sociales 1
option(value='soc2') Sociales 2
option(value='soc3') Sociales 3

// Villarica (1 mesa)
option(value='vill') Campus Villarica
