.votes
  +vote('mapau', 'mapau', 'mapaupc', 'MAPAU')
  +vote('ani', 'ani', 'anipc' , 'Animalia')
  +vote('tdi-coll', 'tdicoll', 'tdicollpc', 'ESI')
  +vote('tdi-cai', 'tdicai', 'tdicaipc', 'TDI CAi')
.votes
  +vote('caco', 'caco', 'cacopc', 'Paulo Freire')
  +vote('spch', 'spch', 'spchpc', 'Obra UC')
  +vote('jsf', 'jsf', 'jsfpc', 'UCeanos')
  +vote('clmun', 'clmun', 'clmunpc', 'TVP')
  +vote('proy', 'proy', 'proypc', 'Proyecta')
.votes
  +vote(null, 'b', 'bpc', 'Blancos')
  +vote(null, 'n', 'npc', 'Nulos')
