.votes
  +vote('nau', 'nau', 'naupc', 'NAU!')
  +vote('sdd', 'sdd', 'sddpc', 'Solidaridad')
  +vote('mg', 'mg', 'mgpc', 'Amanecer')
.votes
  +vote('elp', 'elp', 'elppc', '1A')
  +vote('proy', 'proy', 'proypc', 'Avanzar')
  +vote(null, 'b', 'bpc', 'Blancos')
  +vote(null, 'n', 'npc', 'Nulos')
